.code {
    font-family: 'Courier New', Courier, monospace;
}

.code td {
    white-space: nowrap;
}

div.view:not(:first-child) {
    border-left: solid 2px;
}

td.text_header {
    background: #EEEEEE;
    text-align: right;
}

td.hex_start {
    background: #FFFFCC;
}

td.hex_count {
    background: #CCFFCC;
}

td.hex_addr {
    background: #CCCCFF;
}

td.hex_type {
    background: #FFCCCC;
}

td.hex_data {
    background: #CCFFFF;
}

td.hex_cs {
    background: #CCCCCC;
}

td.byte_data {
    text-align: right;
}

#view_container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#hex_view {}

#bin_view {}

#asm_view {}